:root{
    --primary-green: #62aa57;
}

:root {
    --ck-color-base-foreground: 								hsl(0, 0%, 98%);
    --ck-color-base-background: 								hsl(0, 0%, 100%);
    --ck-color-base-border: 									hsl(220, 6%, 81%);
    --ck-color-base-action: 									hsl(104, 50.2%, 42.5%);
    --ck-color-base-focus: 										hsl(209, 92%, 70%);
    --ck-color-base-text: 										hsl(0, 0%, 20%);
    --ck-color-base-active: 									hsl(218.1, 100%, 58%);
    --ck-color-base-active-focus:								hsl(218.2, 100%, 52.5%);
    --ck-color-base-error:										hsl(15, 100%, 43%);

    /* -- Generic colors ------------------------------------------------------------------------ */

    --ck-color-focus-border-coordinates: 						218, 81.8%, 56.9%;
    --ck-color-focus-border: 									hsl(var(--ck-color-focus-border-coordinates));
    --ck-color-focus-outer-shadow:								hsl(212.4, 89.3%, 89%);
    --ck-color-focus-disabled-shadow:							hsla(209, 90%, 72%,.3);
    --ck-color-focus-error-shadow:								hsla(9,100%,56%,.3);
    --ck-color-text: 											var(--ck-color-base-text);
    --ck-color-shadow-drop: 									hsla(0, 0%, 0%, 0.15);
    --ck-color-shadow-drop-active:								hsla(0, 0%, 0%, 0.2);
    --ck-color-shadow-inner: 									hsla(0, 0%, 0%, 0.1);

    /* -- Buttons ------------------------------------------------------------------------------- */

    --ck-color-button-default-background: 						transparent;
    --ck-color-button-default-hover-background: 				hsl(0, 0%, 94.1%);
    --ck-color-button-default-active-background: 				hsl(0, 0%, 94.1%);
    --ck-color-button-default-disabled-background: 				transparent;

    --ck-color-button-on-background: 							hsl(212, 100%, 97.1%);
    --ck-color-button-on-hover-background: 						hsl(211.7, 100%, 92.9%);
    --ck-color-button-on-active-background: 					hsl(211.7, 100%, 92.9%);
    --ck-color-button-on-disabled-background: 					hsl(211, 15%, 95%);
    --ck-color-button-on-color:									hsl(218.1, 100%, 58%);


    --ck-color-button-action-background: 						var(--ck-color-base-action);
    --ck-color-button-action-hover-background: 					hsl(104, 53.2%, 40.2%);
    --ck-color-button-action-active-background: 				hsl(104, 53.2%, 40.2%);
    --ck-color-button-action-disabled-background: 				hsl(104, 44%, 58%);
    --ck-color-button-action-text: 								var(--ck-color-base-background);

    --ck-color-button-save: 									hsl(120, 100%, 27%);
    --ck-color-button-cancel: 									hsl(15, 100%, 43%);

    --ck-color-switch-button-off-background:					hsl(0, 0%, 57.6%);
    --ck-color-switch-button-off-hover-background:				hsl(0, 0%, 49%);
    --ck-color-switch-button-on-background:						var(--ck-color-button-action-background);
    --ck-color-switch-button-on-hover-background:				hsl(104, 53.2%, 40.2%);
    --ck-color-switch-button-inner-background:					var(--ck-color-base-background);
    --ck-color-switch-button-inner-shadow:						hsla(0, 0%, 0%, 0.1);

    /* -- Dropdown ------------------------------------------------------------------------------ */

    --ck-color-dropdown-panel-background: 						var(--ck-color-base-background);
    --ck-color-dropdown-panel-border: 							var(--ck-color-base-border);

    /* -- Dialog -------------------------------------------------------------------------------- */

    --ck-color-dialog-background: 								var(--ck-custom-background);
    --ck-color-dialog-form-header-border: 						var(--ck-custom-border);

    /* -- Input --------------------------------------------------------------------------------- */

    --ck-color-input-background: 								var(--ck-color-base-background);
    --ck-color-input-border: 									var(--ck-color-base-border);
    --ck-color-input-error-border:								var(--ck-color-base-error);
    --ck-color-input-text: 										var(--ck-color-base-text);
    --ck-color-input-disabled-background: 						hsl(0, 0%, 95%);
    --ck-color-input-disabled-border: 							var(--ck-color-base-border);
    --ck-color-input-disabled-text: 							hsl(0, 0%, 46%);

    /* -- List ---------------------------------------------------------------------------------- */

    --ck-color-list-background: 								var(--ck-color-base-background);
    --ck-color-list-button-hover-background: 					var(--ck-color-button-default-hover-background);
    --ck-color-list-button-on-background: 						var(--ck-color-button-on-color);
    --ck-color-list-button-on-background-focus: 				var(--ck-color-button-on-color);
    --ck-color-list-button-on-text:								var(--ck-color-base-background);

    /* -- Panel --------------------------------------------------------------------------------- */

    --ck-color-panel-background: 								var(--ck-color-base-background);
    --ck-color-panel-border: 									var(--ck-color-base-border);

    /* -- Toolbar ------------------------------------------------------------------------------- */

    --ck-color-toolbar-background: 								var(--ck-color-base-background);
    --ck-color-toolbar-border: 									var(--ck-color-base-border);

    /* -- Tooltip ------------------------------------------------------------------------------- */

    --ck-color-tooltip-background: 								var(--ck-color-base-text);
    --ck-color-tooltip-text: 									var(--ck-color-base-background);

    /* -- Engine -------------------------------------------------------------------------------- */

    --ck-color-engine-placeholder-text: 						hsl(0, 0%, 44%);

    /* -- Upload -------------------------------------------------------------------------------- */

    --ck-color-upload-bar-background:		 					hsl(209, 92%, 70%);

    /* -- Link -------------------------------------------------------------------------------- */

    --ck-color-link-default:									hsl(240, 100%, 47%);
    --ck-color-link-selected-background:						hsla(201, 100%, 56%, 0.1);
    --ck-color-link-fake-selection:								hsla(201, 100%, 56%, 0.3);

    /* -- Search result highlight ---------------------------------------------------------------- */

    --ck-color-highlight-background:							hsl(60, 100%, 50%);

    /* -- Generic colors ------------------------------------------------------------------------- */

    --ck-color-light-red:										hsl(0, 100%, 90%);
}
/*
 * Copyright (c) 2003-2024, CKSource Holding sp. z o.o. All rights reserved.
 * For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-oss-license
 */
:root {
    /**
     * An opacity value of disabled UI item.
     */
    --ck-disabled-opacity: .5;
}
/*
 * Copyright (c) 2003-2024, CKSource Holding sp. z o.o. All rights reserved.
 * For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-oss-license
 */
:root {
    /**
     * The geometry of the of focused element's outer shadow.
     */
    --ck-focus-outer-shadow-geometry: 0 0 0 3px;

    /**
     * A visual style of focused element's outer shadow.
     */
    --ck-focus-outer-shadow: var(--ck-focus-outer-shadow-geometry) var(--ck-color-focus-outer-shadow);

    /**
     * A visual style of focused element's outer shadow (when disabled).
     */
    --ck-focus-disabled-outer-shadow: var(--ck-focus-outer-shadow-geometry) var(--ck-color-focus-disabled-shadow);

    /**
     * A visual style of focused element's outer shadow (when has errors).
     */
    --ck-focus-error-outer-shadow: var(--ck-focus-outer-shadow-geometry) var(--ck-color-focus-error-shadow);

    /**
     * A visual style of focused element's border or outline.
     */
    --ck-focus-ring: 1px solid var(--ck-color-focus-border);
}

:root {
    --ck-image-style-spacing: 1.5em;
    --ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
}

/*
 * Copyright (c) 2003-2024, CKSource Holding sp. z o.o. All rights reserved.
 * For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-oss-license
 */
:root {
    --ck-font-size-base: 13px;
    --ck-line-height-base: 1.84615;
    --ck-font-face: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;

    --ck-font-size-tiny: 0.7em;
    --ck-font-size-small: 0.75em;
    --ck-font-size-normal: 1em;
    --ck-font-size-big: 1.4em;
    --ck-font-size-large: 1.8em;
}
/*
 * Copyright (c) 2003-2024, CKSource Holding sp. z o.o. All rights reserved.
 * For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-oss-license
 */
:root {
    /* This is super-important. This is **manually** adjusted so a button without an icon
    is never smaller than a button with icon, additionally making sure that text-less buttons
    are perfect squares. The value is also shared by other components which should stay "in-line"
    with buttons. */
    --ck-ui-component-min-height: 2.3em;
}

.eeiVGB {
    position: relative;
    box-sizing: border-box;
    display: grid;
    gap: 16px;
    margin: 0px auto;
    width: 722px;
}

.bWszMR {
    color: var(--primary-green);
    font-weight: 500;
    font-size: 44px;
    line-height: 50px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: -0.76px;
}

.article_h1{
    font-size: 60px;
    font-weight: 500;
    line-height: 30px;
    margin: 25px 0;
}

.article_h2{
    font-size: 24px;
    font-weight: 450;
    line-height: 30px;
    margin: 25px 0;
    color: var(--primary-green);
}

.article_h3{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin: 25px 0;
}

.article_h4{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 15px 0;
}

.article_p{
    color: rgb(32, 34, 36);
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: -0.36px;
}


@media screen and (max-width: 399px) {
    .bWszMR {
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        text-transform: none;
        text-decoration: none;
        letter-spacing: -0.56px;
    }

    .article_h2{
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        margin: 30px 0;
    }
}

@media screen and (max-width: 599px) {
    .bWszMR {
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        text-transform: none;
        text-decoration: none;
        letter-spacing: -0.56px;
    }
}

.dlWCEZ {
    position: relative;
    box-sizing: border-box;
    display: grid;
    gap: 16px;
    margin: 0px auto;
    width: 722px;
}

.dWFSHg {
    display: flex;
    flex-direction: column;
}

.jTEdni {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 32px;
    margin-bottom: 4px;
}

.fkLXLN {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: -0.12px;
    color: rgb(84, 86, 88);
}

.kZrEzh {
    -webkit-box-pack: end;
    justify-content: flex-end;
    align-self: start;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 12px;
}

.fRrxoV {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.ketEwj {
    border: none;
    outline: none;
    column-gap: 6px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
}

.cUALdr {
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.hYnulS {
    cursor: pointer;
    border: 2px solid transparent;
    outline: transparent solid 2px;
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 6px 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
}

.kTVKRs {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 14px;
    height: 14px;
}

.juomiH {
    white-space: nowrap;
}

.kTVKRs svg, .kTVKRs img {
    width: 24px;
    height: 24px;
}

.fsMljb {
    display: block;
    fill: currentcolor;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

button {
    appearance: none;
    margin: 0px;
    padding: 0px;
    background: none;
    border-radius: 0px;
    border: 0px;
    font-family: inherit;
    color: inherit;
}

.gNEKVR {
    position: absolute;
    min-width: 140px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: fit-content;
    display: grid;
    justify-items: start;
    padding: 16px;
    opacity: 1;
    z-index: 10000;
    left: -51.875px;
    top: calc(100% + 8px);
    bottom: unset;
}

.juiFjD {
    border: none;
    outline: none;
    column-gap: 6px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
}

.cUALdr {
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.oyzDp {
    cursor: pointer;
    border: 2px solid transparent;
    outline: transparent solid 2px;
    display: flex;
    flex-direction: row;
    gap: 9.3px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
}

.jciIjj span:first-of-type {
    width: 20px;
    height: 20px;
}

.gWwQNU {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.juomiH {
    white-space: nowrap;
}

.bRrXa-D {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.bpnWmT {
    display: flex;
}

.bZCrck {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: -0.16px;
}

.gxaSLA {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    color: rgb(84, 86, 88);
}

.jFCfG {
    position: relative;
    box-sizing: border-box;
    display: grid;
    gap: 16px;
    margin: 0px auto;
    width: 722px;
}

.jdpAET {
    position: relative;
}

.kcsaYe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.fYAfXe {
    color: rgb(32, 34, 36);
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: -0.36px;
}


.eMVRpx {
    max-width: 1280px;
    width: 100%;
    overflow: hidden;
}

.ctfMqF {
    margin-bottom: 24px;
}

.iGzJZA {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

hr {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.jKLwmR {
    grid-template-columns: 1fr 1fr;
    margin: 0px 16px;
    gap: 16px;
    display: grid;
}

.cYOBar {
    padding: 0px 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(32, 34, 36);
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 12px;
}

.cYOBar-White {
    padding: 0px 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 12px;
}

.dqKfa {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.elqzuS {
    color: rgb(32, 34, 36);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
}

.elqzuS-White {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
}

.lgKNnV {
    margin: 0px 16px;
    border-width: 0px;
    height: 2px;
    width: 100%;
    background-color: rgb(58, 60, 62);
}


.lgKNnV-white {
    margin: 0px 16px;
    border-width: 0px;
    height: 2px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.left-column {
    grid-row: auto;
}

.right-column {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}

.iYKspt {
    display: grid;
    background-color: rgb(20, 22, 24);
    padding: 0px 16px;
}

.fZGzuG {
    color: rgb(255, 255, 255);
    display: flex;
    height: auto;
    column-gap: 8px;
    margin-left: auto;
    padding: 0px 12px;
}

.blulaQ {
    display: flex;
    height: 32px;
    width: 32px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.bmYCSL svg {
    height: 20px;
    width: auto;
}

.owl-theme .owl-nav .disabled,
button.disabled {
    opacity: 0.6;
}

.fZGzuG.disabled button{
    opacity: 0.6;
}

.owl-stage{
    padding-left: 0 !important;
}



.iPpURb {
    margin: 0px 16px;
    border-width: 0px;
    height: 2px;
    width: 100%;
    background-color: rgb(230, 232, 234);
}

.iYKspt {
    display: grid;
    background-color: rgb(20, 22, 24);
    padding: 0px 16px;
}

.gaQDrT {
    display: flex;
    overflow: scroll;
    column-gap: 12px;
    scroll-snap-type: x;
    scrollbar-width: none;
}

.gaQDrT {
    display: flex;
    overflow: scroll;
    column-gap: 12px;
    scroll-snap-type: x;
    scrollbar-width: none;
}

.jupLmo {
    width: 270px;
    flex-shrink: 0;
    scroll-snap-align: start;
}

@media screen and (max-width: 600px) {
    .jupLmo{
        width: 100%;
    }
}

.blulaQ svg {
    height: 20px;
    width: auto;
}

.fsMljb {
    display: block;
    fill: currentcolor;
}

.bmYCSL {
    display: flex;
    height: 32px;
    width: 32px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .jKLwmR {
        grid-template-columns: 1fr;
        margin: 0 16px;
        gap: 16px;
        display: grid;
    }

    .right-column {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .left-column {
        grid-row: auto;
    }
}

/* @media (min-width: 500px) and (max-width: 1000px) {
    .jKLwmR {
        grid-template-columns: 2 1fr;
        margin: 0px 16px;
        gap: 16px;
        display: grid;
    }

    .right-column {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
} */

/*.grid-item {*/
/*    background-color: #f0f0f0;*/
/*    padding: 20px;*/
/*    border: 1px solid #ddd;*/
/*}*/

.large-item {
    height: 100%;
}

.left-column .td_module_flex_6 {
    width: 50%;
}

.td-big-grid-flex .td-big-grid-flex-post {
    position: relative;
    float: left;
    padding-bottom: 0;
}

.td-big-grid-flex .td-image-container {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
}

.td-big-grid-flex .td-module-thumb {
    position: relative;
    margin-bottom: 0;
}
.td-module-thumb {
    position: relative;
    margin-bottom: 13px;
}

.tdi_96 [class^='td_module_flex_6'] .td-image-wrap {
    padding-bottom: 445px;
}
.left-column .td_module_flex_6 .td-image-wrap {
    padding-bottom: 400px;
}
.td-big-grid-flex .td-image-wrap {
    position: relative;
    display: block;
    overflow: hidden;
}

.tdi_96 .td-image-wrap:before {
    content: '';
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
}

.td-big-grid-flex .td-image-wrap:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.tdi_96 .td_module_flex_6 .entry-thumb {
    background-position: center 50%;
}

.td-animation-stack-type0 .td-animation-stack .entry-thumb, body.td-animation-stack-type0 .post img:not(.woocommerce-product-gallery img):not(.rs-pzimg), body.td-animation-stack-type0 .td-animation-stack .td-lazy-img {
    opacity: 0;
}

.td-big-grid-flex .td-module-thumb .td-thumb-css {
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition: opacity 0.3s, transform 0.3s;
}

.td-animation-stack-type0-2:not(.woocommerce-product-gallery img) {
    opacity: 1 !important;
    transition: opacity .3s;
    transition-timing-function: cubic-bezier(.39,.76,.51,.56);
}

.td-big-grid-flex .td-thumb-css {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
}

.td-module-thumb .entry-thumb {
    display: block;
}

body .tdi_96 .td_module_flex_6 .td-module-meta-info {
    padding: 24px;
}

.td_block_big_grid_flex_2 [class^='td_module_flex_6'] .td-module-meta-info {
    padding: 22px 20px;
}

body .tdi_96 .td-module-meta-info {
    bottom: 0;
}

.td-big-grid-flex .td-module-meta-info {
    position: absolute;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    pointer-events: none;
    z-index: 1;
}

.td-module-meta-info {
    font-size: 11px;
    margin-bottom: 7px;
    line-height: 1;
    min-height: 17px;
}

body .tdi_96 .td_module_flex_6 .td-post-category:not(.td-post-extra-category) {
    display: inline-block;
}

body .tdi_96 .td_module_flex_6 .td-post-category {
    margin: 0px;
    padding: 0px;
    font-size: 13px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
}

body .tdi_96 .td-post-category {
    background-color: rgba(255, 255, 255, 0);
}

.td-big-grid-flex .td-post-category {
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    padding: 3px 7px;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 13px;
    font-weight: 500;
    text-transform: uppercase;
    pointer-events: auto;
}

.td-module-meta-info .td-post-category {
    display: inline-block;
}

.td-post-category {
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    background-color: #222;
    color: #fff;
    margin-right: 5px;
    padding: 3px 6px 4px;
    display: block;
    vertical-align: top;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

body .tdi_96 .td_module_flex_6 .tdb-module-title-wrap {
    margin: 12px 0 8px;
}

body .tdi_96 .td_module_flex_6 .entry-title {
    font-size: 30px !important;
    line-height: 1.2 !important;
    font-weight: 500 !important;
}

.td_block_big_grid_flex_2 [class^='td_module_flex_6'] .entry-title {
    margin-bottom: 9px;
    font-size: 27px;
    font-weight: 500;
    line-height: 34px;
}

.td-big-grid-flex .td-module-title {
    margin: 0;
}

.entry-title {
    word-wrap: break-word;
}

.td-big-grid-flex .td-module-title a {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.td-big-grid-flex .td-module-title a{
    color: #fff;
}

body .tdi_96 .td_module_flex_6 .td-editor-date, body .tdi_96 .td_module_flex_6 .td-editor-date .entry-date, body .tdi_96 .td_module_flex_6 .td-module-comments a {
    font-size: 13px !important;
    font-weight: 400 !important;
    text-transform: capitalize !important;
}

.td-post-date {
    color: #767676;
    display: inline-block;
    position: relative;
    top: 2px;
}

body .tdi_96 .td_module_flex_6 .td-post-date, body .tdi_96 .td_module_flex_6 .td-post-author-name span {
    display: inline-block;
}

body .tdi_96 .td_module_flex_6 .td-post-author-name {
    display: inline-block;
    font-weight: 400;
}
.td-post-author-name {
    font-weight: 700;
    display: inline-block;
    position: relative;
    top: 2px;
}

.td-big-grid-flex .td-post-author-name a{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.td-big-grid-flex .td-module-title a, .td-big-grid-flex .td-post-author-name span, .td-big-grid-flex .td-module-container:hover .entry-title a, .td-big-grid-flex .td-post-author-name a, .td-big-grid-flex .td-post-date {
    color: #fff;
}

.td_block_big_grid_flex_2 .td_module_flex_7 {
    width: auto;
}

body .tdi_96 .td_module_flex_7 .td-image-wrap {
    padding-bottom: 220px;
}

.td_block_big_grid_flex_2 .td_module_flex_7 .td-image-wrap {
    padding-bottom: 198px;
}

.td-big-grid-flex .td-image-wrap {
    position: relative;
    display: block;
    overflow: hidden;
}

body .tdi_96 .td_module_flex_7 .td-module-meta-info {
    padding: 15px;
}

.td_block_big_grid_flex_2 .td_module_flex_7 .td-module-meta-info {
    padding: 11px 17px;
}

body .tdi_96 .td_module_flex_7 .td-post-category {
    margin: 0px;
    padding: 0px;
    font-size: 11px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
}

body .tdi_96 .td_module_flex_7 .tdb-module-title-wrap {
    margin: 8px 0 0;
}

body .tdi_96 .td_module_flex_7 .entry-title {
    font-size: 17px !important;
    line-height: 1.2 !important;
    font-weight: 500 !important;
}

.td_block_big_grid_flex_2 .td_module_flex_7 .entry-title {
    margin: 0;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}

body .tdi_96 .td_module_flex_7 .td-editor-date, body .tdi_96 .td_module_flex_7 .td-editor-date .entry-date, body .tdi_96 .td_module_flex_7 .td-module-comments a {
    font-size: 11px !important;
    font-weight: 400 !important;
    text-transform: capitalize !important;
}

body .tdi_96 .td_module_flex_7 .td-post-date, body .tdi_96 .td_module_flex_7 .td-post-author-name span {
    display: none;
}

body .tdi_96 .td_module_flex_7 .td-editor-date {
    display: none;
}

body .tdi_96 .td_module_flex_7 .td-post-author-name {
    display: none;
    font-weight: 400;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body .tdi_96 .td_module_flex_7 .entry-thumb {
    background-position: center 50%;
}

@media (min-width: 1019px) and (max-width: 1140px) {
    .tdi_96 [class^='td_module_flex_6'] .td-image-wrap {
        padding-bottom: 340px;
    }

}




@media (min-width: 768px) and (max-width: 1018px) {
    .tdi_96 [class^='td_module_flex_6'] .td-image-wrap {
        padding-bottom: 263px;
    }

    body .tdi_96 .td_module_flex_6 .td-post-category {
        font-size: 11px !important;
        font-weight: 400 !important;
        text-transform: uppercase !important;
    }

    body .tdi_96 .td_module_flex_6 .tdb-module-title-wrap {
        margin: 8px 0 4px;
    }

    body .tdi_96 .td_module_flex_6 .entry-title {
        font-size: 20px !important;
        line-height: 1.2 !important;
        font-weight: 500 !important;
    }

    .td_block_big_grid_flex_2 [class^='td_module_flex_6'] .entry-title {
        font-size: 16px;
        line-height: 20px;
    }

    body .tdi_96 .td_module_flex_6 .td-editor-date, body .tdi_96 .td_module_flex_6 .td-editor-date .entry-date, body .tdi_96 .td_module_flex_6 .td-module-comments a {
        font-size: 11px !important;
        font-weight: 400 !important;
        text-transform: capitalize !important;
    }
}

@media (max-width: 767px) {
    .tdi_96 [class^='td_module_flex_6'] .td-image-wrap {
        padding-bottom: 260px;
    }

    body .tdi_96 .td_module_flex_6 .entry-title {
        font-size: 22px !important;
        line-height: 1.2 !important;
        font-weight: 500 !important;
    }

    div.td-big-grid-flex-scroll .td-module-title a {
        white-space: normal;
    }

    body .tdi_96 .td-big-grid-flex-post {
        border-width: 0 2.5px;
        border-style: solid;
        border-color: transparent;
    }
}

@media (min-width: 768px) and (max-width: 1018px) {
    body .tdi_96 .td_module_flex_6 .td-module-meta-info {
        padding: 18px 14px;
    }
}

@media (min-width: 768px) {
    .left-column {
        grid-row: span auto;
    }

    .right-column {
        grid-template-columns: 1fr 1fr;
    }

    body .tdi_96 .td-big-grid-flex-post-0 {
        margin-bottom: 3px;
    }

    body .tdi_96 .td_module_flex_6 {
        width: 100%;
    }

    body .tdi_96 .td-big-grid-flex-post-0 {
        margin-bottom: 5px;
    }

    div.td-big-grid-flex-scroll .td-big-grid-flex-post {
        float: none;
    }

    body .tdi_96 .td_module_flex_6 .td-module-meta-info {
        padding: 18px 14px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .left-column .td_module_flex_6{
        width: 100%;
    }
}

@media screen and (max-width: 599px) {

    .left-column {
        grid-row: span 12;
    }

    .elqzuS {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-transform: none;
        text-decoration: none;
        letter-spacing: 0px;
    }

    .left-column .td_module_flex_6 {
        width: 100%;
    }
}

@media screen and (max-width: 399px) {

    .left-column {
        grid-row: span 12;
    }

    .elqzuS {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-transform: none;
        text-decoration: none;
        letter-spacing: 0px;
    }

    .left-column .td_module_flex_6 {
        width: 100%;
    }
}

@media screen and (max-width: 8192px) {
    .eMVRpx {
        margin: 0px auto;
    }
}

@media screen and (max-width: 599px) {
    .ctfMqF {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 599px) {
    .cYOBar {
        margin-top: 8px;
        padding-right: 0px;
    }
}


@media screen and (max-width: 8192px) {
    .bdPeAJ {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 1279px) {
    .bdPeAJ {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 1007px) {
    .bdPeAJ {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 767px) {
    .bdPeAJ {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 599px) {
    .bdPeAJ {
        margin-bottom: 24px;
        margin: 16px 0px 24px 0px;
        width: auto;
    }
}

@media screen and (max-width: 399px) {
    .bdPeAJ {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 599px) {
    .fYAfXe {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-transform: none;
        text-decoration: none;
        letter-spacing: -0.32px;
    }
}


@media screen and (max-width: 399px) {
    .fYAfXe {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-transform: none;
        text-decoration: none;
        letter-spacing: -0.32px;
    }
}


@media screen and (max-width: 8192px) {
    .jFCfG {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 1279px) {
    .jFCfG {
        margin: 0px auto;
        width: 728px;
    }
}

@media screen and (max-width: 1007px) {
    .jFCfG {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 767px) {
    .jFCfG {
        margin: 0px 16px;
        width: auto;
    }
}

@media screen and (max-width: 599px) {
    .jFCfG {
        margin: 0px;
        width: auto;
    }
}

@media screen and (max-width: 399px) {
    .jFCfG {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 599px) {
    .jKLwmR {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 8192px) {
    .dlWCEZ {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 1279px) {
    .dlWCEZ {
        margin-bottom: 16px;
        margin: 0px auto;
        width: 728px;
    }
}

@media screen and (max-width: 1007px) {
    .dlWCEZ {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 767px) {
    .dlWCEZ {
        margin-bottom: 16px;
        margin: 0px 16px;
        width: auto;
    }
}

@media screen and (max-width: 599px) {
    .dlWCEZ {
        margin-bottom: 16px;
        margin: 0px 16px 24px 16px;
        width: auto;
    }
}

@media screen and (max-width: 399px) {
    .dlWCEZ {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 8192px) {
    .eeiVGB {
        margin-top: 24px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 1007px) {
    .eeiVGB {
        margin-top: 24px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 1279px) {
    .eeiVGB {
        margin-top: 24px;
        margin-bottom: 16px;
        margin: 24px auto;
        width: 728px;
    }
}

@media screen and (max-width: 767px) {
    .eeiVGB {
        margin-top: 24px;
        margin-bottom: 16px;
        margin: 24px 16px;
        width: auto;
    }
}

@media screen and (max-width: 599px) {
    .eeiVGB {
        margin-top: 24px;
        margin-bottom: 16px;
        margin: 24px 16px;
        width: auto;
    }
}

@media screen and (max-width: 399px) {
    .eeiVGB {
        margin-top: 24px;
        margin-bottom: 16px;
    }
}


@media screen and (max-width: 599px) {
    .fWdqDG {
        padding-block: 16px;
    }
}

@media screen and (max-width: 8192px) {
    .eMVRpx {
        margin: 0px auto;
    }
}

.image-style-align-center {
    margin-left: auto;
    margin-right: auto;
}

.image-style-align-left {
    float: left;
    margin-right: var(--ck-image-style-spacing);
}

.image-style-align-right {
    float: right;
    margin-left: var(--ck-image-style-spacing);
}

/* Simulates margin collapsing with the preceding paragraph, which does not work for the floating elements. */

p + .image.image-style-align-left,
p + .image.image-style-align-right,
p + .image.image-style-side {
    margin-top: 0;
}

.image-inline.image-style-align-left,
.image-inline.image-style-align-right {
    margin-top: var(--ck-inline-image-style-spacing);
    margin-bottom: var(--ck-inline-image-style-spacing);
}

.image-inline.image-style-align-left {
    margin-right: var(--ck-inline-image-style-spacing);
}

.image-inline.image-style-align-right {
    margin-left: var(--ck-inline-image-style-spacing);
}

.fYAfXe a{
    color: var(--primary-green);
    text-decoration: underline;
    cursor: pointer;
}
